body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*** Start: Tabs ***/
.nav-tabs .nav-link{
    border-radius: 0;
}
.nav-tabs .nav-link{
    background: rgb(224, 224, 224);
    color: #202020;
    font-weight: 500;
}
.nav-tabs .nav-link.active{
    border-top: 3px solid var(--primary);
    color: var(--primary);
}
.tab-content .table thead{
    background: rgb(236, 236, 236);
}
/*** End: Tabs ***/

.table td {
    padding: 0 0.9375rem;
    height: 40px;
}

.font-500{
    font-weight: 500;
}
.font-13{
    font-size: 13px !important;
}
h6 .feather{
    width: 16px;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-title{
    font-size: 18px;
    font-weight: 500;
}
.card{
    overflow: hidden;
}
#conceptos .card::before{
    content: '';
    width: 3px;
    height: 100%;
    background: var(--primary);
    position: absolute;
    left: 0;
}
.dis-n{
    display: none;
}