body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-control, .select2-container--default .select2-search--dropdown .select2-search__field, .typeahead.tt-hint, .typeahead.tt-input {
    display: block;
    width: 100%;
    padding: .469rem .8rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus, .select2-container--default .select2-search--dropdown .select2-search__field:focus, .typeahead.tt-hint:focus, .typeahead.tt-input:focus {
    color: #000;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}
.btn{
    font-weight: 500;
}